 <appSettings>
    <add key="MailServer" value="dev-smt.vidly.com"/>
    <add key ="FacebookAppId" value ="22190288397791"/>
    <add key="FacebookAppSecret" value="fd7805c171d74d5f56c2c456a205c47b"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
